.row
  .col-sm-9
    .h3 Log In
    %hr

= bootstrap_form_tag url: "/login" do |f|
  .row
    .col-sm-4= f.text_field :username
  .row
    .col-sm-4= f.password_field :password
  .row
    .col-sm-4= f.submit "Login", class: "btn btn-primary"