= bootstrap_form_for @problem do |f|
  .row
    .col-sm-4= f.text_field :title, help: "Try to be concise and descriptive"
  .row
    .col-sm-4= f.text_area :description
  .row
    .col-sm-4= f.text_area :error_message, label: "Error Message (optional)"
  .row
    .col-sm-4= f.text_area :solution
  .row
    .col-sm-4= f.text_field :category, value: @problem.category.name, disabled: true
  = f.hidden_field :category, {value: @problem.category.slug}
  
  = f.submit(@problem.new_record? ? "Submit Problem" : "Save Changes", class: "btn btn-primary")