- problems.each do |problem|
  .problem
    .row
      .col-sm-1
        - parent_icon(problem.category)
      .col-sm-10
        .row
          .col-sm-12
            %span.bold= link_to problem.title, problem_path(problem)
            %span.small= link_to "(#{problem.category.name})", category_path(problem.category)
        .row
          .col-sm-12.small
            Solved #{get_age(problem.created_at)} ago by 
            - if problem.user
              %span= link_to problem.user.username, user_path(problem.user)
            - else
              %span [deleted]
        %hr.pull-left.small

