.row
  .col-sm-9
    .h3 Problems
    %hr
    = render "problems", problems: @problems
  .col-sm-2.col-sm-offset-1
    .h3.pull-right.buttons= link_to "New Problem", new_problem_path, class: "btn btn-lg btn-full btn-primary"