.row
  .col-sm-9
    .h3 Submit a Problem
    %hr

Where does your problem belong?
%br
= link_to "Or do you need to make a new category?", new_category_path

%br
%br

.row
  - @categories.each do |category|
    .col-sm-4
      .h4= category.name
      = render "shared/choose_category", category: category
