.row
  .col-sm-9
    .h3= @problem.title
    %hr

    .col-sm-offset-1.small 
      Posted to 
      %span= link_to @problem.category.name, category_path(@problem.category) 
      #{get_age(@problem.created_at)} ago, by 
      %span
        - if @problem.user
          = link_to @problem.user.username, user_path(@problem.user)
        - else
          [deleted]

    %br
    %br

    .col-sm-offset-1
      .h4.bold Problem:
      .p= simple_format h(@problem.description)
      %br
      - if !@problem.error_message.blank?
        %a.h4.bold(data-toggle="collapse" href="#error")= "Error Message: (click to show)"
        .p.collapse#error= simple_format h(@problem.error_message)
        .p &nbsp;
      .h3.bold Solution:
      .p= simple_format h(@problem.solution)

  .col-sm-2.col-sm-offset-1
    .h3.pull-right.buttons
      - if @problem.user == current_user
        = link_to "Edit", edit_problem_path(@problem), class: "btn btn-full btn-default"
        = link_to "Delete", problem_path(@problem), method: :delete, class: "btn btn-full btn-default"