= bootstrap_form_for @user do |f|
  .row
    .col-sm-4= f.text_field :username
  .row
    .col-sm-4= f.email_field :email, label: "Email Address"
  .row
    .col-sm-4= f.password_field :password
  = f.submit(@user.new_record? ? "Create Account" : "Save Changes", class: "btn btn-primary")