.row
  .col-sm-9
    .h3 Users
    %hr

%table.table.table-default
  %tr
    %th
    %th Username
    %th Role
    %th Problems
    %th Actions
  - @users.each do |user|
    %tr
      %td
        %span.glyphicon.glyphicon-user
      %td= link_to user.username, user_path(user)
      %td= user.role || "user"
      %td= user.problems.count
      %td
        = link_to "edit", edit_user_path(user), class: "btn btn-xs btn-default" if current_user == user
        = link_to "make admin", make_admin_path(user), class: "btn btn-xs btn-default", method: "patch" if current_user.admin && !user.admin
        = link_to "delete", user_path(user), class: "btn btn-xs btn-default", method: :delete