.row
  .col-sm-9
    .h3= "#{@user.username}'s problems"
    %hr
  .col-sm-2.col-sm-offset-1
    .h3.pull-right.buttons= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-default" if current_user == @user

= render "problems/problems", problems: @user.problems