- category.children.each do |category|
  %li
    - if category.children.any?
      = category.name
      %ul= render "shared/choose_category", category: category if category.children.any?
    - else
      = link_to category.name, new_problem_form_path(category: category.slug)
