- category.children.each do |category|
  %li
    = link_to category.name, new_category_name_path(parent: category.slug)
    %ul= render "shared/new_category", category: category if category.children.any?