%p Tired of looking for the solution? Already tried rebooting? See if we have it in our 
= link_to "problem database.", problems_path

%br
%br

%p Found a solution to your problem? Want to be a good person and share it? 
= link_to "Sign up", register_path 
or 
= link_to "sign in.", login_path
