.row
  .col-sm-6
    .h3= "Search for '#{@term}'"
    %hr

%ul.nav.nav-tabs
  %li{:class => ("active" if @obj == "problem")}
    = link_to "Search Problems", search_path(term: @term, obj: "problem"), method: :post
  %li{:class => ("active" if @obj == "category")}
    = link_to "Search Categories", search_path(term: @term, obj: "category"), method: :post
  %li{:class => ("active" if @obj == "user")}
    = link_to "Search Users", search_path(term: @term, obj: "user"), method: :post

%br

%ul
  - case @obj
  - when "problem"
    = "No results" unless @problems.any?
    = render "problems/problems", problems: @problems
  - when "category"
    = "No results" unless @categories.any?
    - @categories.each do |category|
      - unless category.children.any?
        %li= link_to category.name, category_path(category)
  - when "user"
    = "No results" unless @users.any?
    - @users.each do |user|
      %li= link_to user.username, user_path(user)
