.row
  .col-sm-3
    .list-group#accordion
      - @roots.each do |category|
        %a.list-group-item(data-toggle="collapse" data-parent="#accordion" href="#collapse-#{category.slug}")= category.name
        .collapse.list-group-submenu{:id => "collapse-#{category.slug}"}
          - expand_categories(category)


  / .col-sm-3
  /   .panel-group#accordion
  /     - @roots.each do |category|
  /       .panel.panel-default.accordion-group
  /         .panel-title
  /           %a(data-toggle="collapse" data-parent="#accordion" href="#collapse-#{category.slug}")= category.name
  /           .collapse.panel-collapse{:id => "collapse-#{category.slug}"}
  /             - expand_categories2(category)