// Colours

$maincolor: teal;
$altcolor: #006666;
$seccolor: mintcream;

// Shadows

$level1:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$level2:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$level3:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$level4:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$level5:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);