- category.children.each do |category|
  %li
    - if category.children.any?
      = category.name
      %ul= render "children", category: category 
    - else
      = link_to category.name, category_path(category)
