.row
  .col-sm-9
    .h3 New Category
    %hr

Where does the new category belong?

%br

.row
  - @categories.each do |category|
    .col-sm-3
      .h4= category.name
      = render "shared/new_category", category: category