.row
  .col-sm-9
    .h3 New Category
    %hr

What's does your problem affect?

%br

= bootstrap_form_for @category do |f|
  .row
    .col-sm-4= f.text_field :parent, value: @category.parent.name, disabled: true
  .row
    .col-sm-4= f.text_field :name
  = f.hidden_field :parent, {value: @category.parent.slug}
  = f.submit "Add category", class: "btn btn-primary"