.row
  .col-sm-9
    .h3= @category.name
    %hr
    - if @category.problems.any?
      = render "problems/problems", problems: @category.problems
    - else
      There are no problems listed for this category.
      = link_to "Can you add one?", new_problem_form_path(category: @category)
  .col-sm-2.col-sm-offset-1
    .h3.pull-right.buttons
      = link_to "New Problem", new_problem_form_path(category: @category), class: "btn btn-lg btn-full btn-primary"
      - if logged_in? && current_user.admin
        = link_to "Edit Category", edit_category_path(@category), class: "btn btn-full btn-default"
        = link_to "Delete Category", category_path(@category), method: :delete, class: "btn btn-full btn-default" unless @category.problems.any?

