%nav.navbar.navbar-default#navbar
  .container-fluid
    .navbar-header
      = link_to "TriedRebooting", problems_path, class: "navbar-brand"
    %ul.nav.navbar-nav.navbar-right
      - if logged_in?
        - if current_user.admin
          %li{:class => ("active" if current_page?(users_path))} 
            = link_to "Users", users_path
        %li{:class => ("active" if current_page?(user_path(current_user)))}
          = link_to "My Problems", user_path(current_user)
        %li= link_to "Log Out", logout_path
      - else
        %li{:class => ("active" if current_page?(login_path))}
          = link_to "Sign In", login_path
        %li{:class => ("active" if current_page?(register_path))}
          = link_to "Register", register_path

