#sidebar
  #search
    = bootstrap_form_tag url: "/search", layout: :inline do |f|
      .row
        .col-sm-8= f.text_field :term, hide_label: true, placeholder: "Search..."
        = f.hidden_field :obj, {value: @obj || "problem"}
        .col-sm-4= f.submit "Go", class: "btn btn-warning"

  = link_to "All Categories", categories_path, class: "btn btn-default"
  %br
  
  #accordion.list-group
    - Category.where(parent_id: nil).each do |category|
      %a.list-group-item.bold#root(data-toggle="collapse" data-parent="#accordion" href="#collapse-#{category.slug}")= category.name
      .collapse.list-group-submenu{:id => "collapse-#{category.slug}"}
        - expand_categories_list(category)