%html
%head
  %title TriedRebooting
  = stylesheet_link_tag    'application'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  = stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Oxygen'

%body
  .row
    .col-sm-5
      = render "layouts/messages"
    .col-sm-7
      = render 'layouts/navbar'
  .row  
    .col-sm-9
      #content= yield
    .col-sm-3
      = render "layouts/sidebar"